<div class="row justify-content-around  mb-3  marginTop">
    <div class="col col-xl-10 marge_top_titre_favoris " id="favoris">
       <h1>
                  VOS LIVRES PRÉFÉRÉS
       </h1>
        <div class="divider-1 mb-3 "></div>
    </div>

<div class="row justify-content-around">
    <div class="col-10">
        <div class="table-responsive-sm">
            <table class="table table-dark table-striped align-middle text-center" >
                <caption class=""><i class="fa-solid fa-circle-info fa-flip " style="color: #c5452e;"></i> 
                    Vous avez  <span class="h4 mx-2">{{counter}}</span>  livres dans votre liste de favoris !
                </caption>
                    <thead class="h4">
                      <tr >
                          <th>Image</th>
                          <th class="th_special">Titre</th>
                          <th class="th_special">L'auteur</th>
                          <th>Description</th>
                          <th><!--btn retirer--></th>
                      </tr>
                    </thead>
                     <tbody class="p1 ">
                               <tr *ngFor="let book of favoritesList">
                                   <td class="w-20">
                                        <div class="card text-bg-dark">
                                              <a [routerLink]="['/book-details/', book.key]">
                                                <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start">
                                              </a>
                                        </div>
                                   </td>
                                   <td>
                                        <a [routerLink]="['/book-details/', book.key]" class="">
                                        {{book.title}}
                                        </a>
                                   </td>
                                   <td>{{book.authorName}}</td>
                                   <td class="text-start">{{ book.description | slice:0:250}}
                                    <span *ngIf="book.description != undefined && book.description.length > 250">
                                        <a [routerLink]="['/book-details/', book.key]">Lire plus...</a>
                                      </span>
                                   </td>
                                   <td>
                                      <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" (click)="deletefromFavoris(book)" >
                                            Retirer
                                            </button>
                                   </td>
                                </tr>                     
                     </tbody>
            </table>
        </div>   
    </div>
</div>
