<div class="team-boxed marginTop">
    <div class="container">
        <div class="intro">
            <h1 translate>
                about.title
               </h1>
                <div class="divider-2 mb-3 "></div>
        </div>
        <div class="row people">
            <!-- <div class="col-md-6 col-lg-4 item">
            
            </div> -->
            <div class="col-md-12 col-lg-12 item card">
                <div class="box">
                    
                    <h3 class="name">Book Finder</h3>
                    <p class="title" translate> about.sub_title1 </p>
                    <p class="description mb-2">
                    {{ 'about.info_1' | translate }} <b>Culaxiz Alexei</b> {{ 'about.info_2' | translate }} 
                    <br>  {{ 'about.info_3' | translate }} 
                    <br> {{ 'about.info_4' | translate }}
                    <br> {{ 'about.nom_teacher' | translate }}<b>Turgeon Valérie</b> 
                    </p>
                    <div class="mt-3 text-start">
                        <h4 translate> about.objective1</h4>
                        <ul>
                            <li translate> about.obj_li_1 </li>
                            <li translate>about.obj_li_2</li>
                            <li translate>about.obj_li_3</li>
                        </ul>
                        
                        <h4 translate> about.sub_title2</h4>
                        <p>{{ 'about.p_1' | translate }} ( <a href="{{linkOpenSource}}" (click)="getLinkOpenSource()">Open Library</a>  ) {{ 'about.p_2' | translate }}</p>
                        <ul>
                            <li translate> about.struc_li_1 </li>
                            <li translate> about.struc_li_2
                                 </li>
                            <li translate> about.struc_li_3
                                </li>
                            <li translate> about.struc_li_4 
                                </li>
                            <li translate> about.struc_li_5
                                </li>
                            <li translate> about.struc_li_6</li>
                        </ul>
                    </div>
                    <div class="">
                        <hr>
                        <img class="rounded img-fluid" 
                    src="assets\image\diagramme.png" alt="diagramme">
                    <img class="rounded img-fluid" 
                    src="assets\image\StructureLogique.png" alt="diagramme">
                    </div>
                    
                </div>
            </div>
            
        </div>
        
</div>