/*Importation de polices externes :googleFonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* .col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-auto,
.col-sm-auto,
.col-md-auto,
.col-lg-auto,
.col-xl-auto {
  border: 2px dotted rgb(252, 134, 222);
}

.row {
  border: 1px solid rgb(39, 255, 93);
} */
/*----------------Style de police-------------*/
 /* H0 Montserrat 48*/
 .h0 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #ffffff;
}

 /* H1 Montserrat 36*/
h1 {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #424141;
}

 /* H2 Montserrat 34*/
h2 {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}

 /* H3 Montserrat 22*/
h3 {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

/* H2 Montserrat 20*/
h4 {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}


/* P1 Montserrat 16 */
.p1, .paginate_button {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #4F4F4F;
    text-decoration: none;
}

/* P2 Montserrat 14 */
.p2{
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* P3 Montserrat 12 */
.p3{
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

/* P4 Montserrat 10 */
.p4{
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;

}


/* You can add global styles to this file, and also import other style files */
body {

    background-color: rgb(231 217 189);
  
}


.shadowStyle {
    transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
.shadowStyle:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
.btn-menu{
    gap: 10px;
    align-items: flex-start;
    display: block;
    padding: 10px 20px;
    position: relative;
    color:#3a394b;
    background-color:transparent
}
.btn-menu:hover{
    padding-bottom:6px;
    color: #898585;
    background: 
    linear-gradient(
      to left, 
      rgba(255, 201, 32, 0) 0%, #c5452e 49.48%, rgba(255, 201, 32, 0) 100%
    )
    bottom 
    left
    no-repeat; 
    background-size:100% 3px ;
}
.btn-menu:active{
    padding-bottom:6px;
    color: rgb(51, 155, 65);
    background: 
    linear-gradient(
      to left, 
      rgba(255, 201, 32, 0) 0%, #c5452e 49.48%, rgba(255, 201, 32, 0) 100%
    )
    bottom 
    left
    no-repeat; 
    background-size:100% 3px ;
}
.d6 {background: #B46381;}
.d6 form {
  height: 70px;
}
.d6 input {
  height: 100%;
  width: 0;
  padding: 0 100px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  cursor: pointer;
}
.d6 input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 0px solid #F9F0DA;
  
}
.d6 button {
  background: #c5452e;
  border: none;
  border-radius: 5px;
  height: 76px;
  width: 76px;
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
}
.d6 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 30px;
  color: #F9F0DA;
  
}

a {
  text-decoration: none;
  color: rgb(39, 101, 172);
}
a:hover{
  color: #898585;
 
}
a:active{
  color: #c5452e;
}


