.d4 {background: #F15B42;}
.d4 form {
  background: #F9F0DA;
  border-bottom: 4px solid #be290e;
}
.d4 input, .d4 button {
  border: none;
  outline: none;
  background: transparent;
}
.d4 input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
.d4 button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d4 button:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 20px;
  color: #be290e;
}
.bouton-parents{
  border-radius: 10px;
  gap: 10px;
  align-items: flex-start;
  padding: 10px 20px;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  position: relative;
  border: none;
}
.bouton-parents{
  background: #FFC920;
  color: black;  
}

.bouton-parents:hover{
  background: #66500D;
  color: rgb(255, 255, 255);
}
.bouton-parents:active{
  background: #000000;
  border: 2px solid #FFC920;
  color: rgb(255, 255, 255);
}

