  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-example {
        height: 300px;
      }
  
      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 937px;
        }
      }
  </style>
  <!-- Background image -->
  <div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="background-image: url('https://i.etsystatic.com/28878645/r/il/ed68b4/3214706509/il_fullxfull.3214706509_mfdc.jpg');"
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 h0" translate>home.title</h1><br>
          <h5 class="mb-4 " translate>home.sub_title</h5>
          
          <div class="m-3">
            <input type="text" id="inputSearch" class="form-control form-control-lg" [(ngModel)]="inputSearch" (keydown)="onKeyDown($event)"/>
          </div>
          <!-- (click)="searchBySubject()" -->
          <!-- [routerLink]="['books-by-subject',inputSearch]" -->
          <button  [routerLink]="['/books-by-subject',inputSearch]"
            class="btn btn-light btn-lg m-2"
            role="button"
            rel="nofollow"
            target="_blank" translate>home.button_search</button>
          <!-- <button
            class="btn btn-light btn-lg m-2"
            href="#"
            target="_blank"
            role="button"
          >Recherche par auteur</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
