
<main>
  
  <!-- <p class="bg-info">This is a book-list component</p> -->
    <div class="row" *ngFor="let book of searchResult?.books">
      <div class="col-2"></div>
      <div class="col-8">

        <div class="card mt-3" >
          <div class="row g-0">
            <!-- *ngIf="book.cover" -->
            <div class="col-12 col-md-4 col-lg-4 text-center my-3" > 
              <img  
                src="https://covers.openlibrary.org/b/id/{{book.cover}}-M.jpg" alt="{{book.title}}"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-12 col-md-8 col-lg-8">
              <div class="card-body">
                <div class="row">
                  <div class="col-10">
                    <a class="card-title" [routerLink]="['/book-details/', book.key]">{{ book.title }}</a>
                <p>Author : {{book.authorName}}</p> 
                <p>Published : {{book.firstPublishYear}}</p>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-info" [routerLink]="['/book-details/', book.key]">Details</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <p>{{ book.description | slice:0:180 }}
                      <span *ngIf="book.description != undefined && book.description.length > 180">
                        <a [routerLink]="['/book-details/', book.key]">Lire plus...</a>
                      </span></p>
                  <div class="card-text d-inline"  *ngFor="let tags of book.subjects | slice:0:10 ">
                    <button class="btn badge rounded-pill badge-info m-1" [routerLink]="['/books-by-subject/', tags]">
                      #{{tags}}    
                    </button>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <div class="col-"></div>
    </div>
  </main>