
<main>
  
  <!-- <p class="bg-info">This is a book-list component</p> -->
    <div class="row" *ngFor="let book of searchResult?.books">
      <div class="col-2"></div>
      <div class="col-8">

        <div class="card mt-3" >
          <div class="row g-0">
            <!-- *ngIf="book.cover" -->
            <div class="col text-center my-3" > 
              <img  style="max-width: 540px;"
                src="https://covers.openlibrary.org/b/id/{{book.cover}}-M.jpg" alt="{{book.title}}"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-12-sm col-md-10">
              <div class="card-body">
                <div class="row">
                  <div class="col-10">
                    <h4 class="card-title">{{ book.title }}</h4>
                <p>{{book.authorName}}</p> 
                <p>published : {{book.firstPublishYear}}</p>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-info">Details</button>
                  </div>
                </div>
                <p class="card-text">
                  {{ book.description }}
                </p>
                <p class="card-text d-inline"  *ngFor="let tags of book.subjects">
                  <button class="btn badge rounded-pill badge-info m-1">#{{tags}}    
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <div class="col-"></div>
    </div>
  </main>