<main>
  <p>Hello</p>
    <!-- <div class="row" *ngFor="let book of searchResult_bookList?.books">
      <div class="col-1"></div>
      <div class="col-10">

        <div class="card mb-3" >
          <div class="row g-0">
            <div class="col-md-4">
              <img style="max-width: 540px;"
                src="https://covers.openlibrary.org/b/id/{{book.cover}}-M.jpg" alt="{{book.title}}"
                class="img-fluid rounded-start"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title">{{ book.title }}</h4>
                <p>{{book.authorName}}</p> 
                <br>
                <p>published : {{book.firstPublishYear}}</p>
                
                <p class="card-text">
                  {{ book.description }}
                </p>
                <p class="card-text d-inline"  *ngFor="let tags of book.subjects">
                  <button class="btn badge rounded-pill badge-info m-1">#{{tags}}    
                  </button>
                </p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
      <div class="col-1"></div>
    </div> -->
  </main>